.sprite-flip_this_but_cole_--1 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -0px -0px;
 }
 .sprite-flip_this_but_cole_--10 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -333px -0px;
 }
 .sprite-flip_this_but_cole_--11 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -666px -0px;
 }
 .sprite-flip_this_but_cole_--12 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -999px -0px;
 }
 .sprite-flip_this_but_cole_--13 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -1332px -0px;
 }
 .sprite-flip_this_but_cole_--14 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -1665px -0px;
 }
 .sprite-flip_this_but_cole_--15 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -1998px -0px;
 }
 .sprite-flip_this_but_cole_--16 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -2331px -0px;
 }
 .sprite-flip_this_but_cole_--17 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -2664px -0px;
 }
 .sprite-flip_this_but_cole_--18 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -2997px -0px;
 }
 .sprite-flip_this_but_cole_--19 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -3330px -0px;
 }
 .sprite-flip_this_but_cole_--2 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -3663px -0px;
 }
 .sprite-flip_this_but_cole_--20 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -3996px -0px;
 }
 .sprite-flip_this_but_cole_--21 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -4329px -0px;
 }
 .sprite-flip_this_but_cole_--22 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -4662px -0px;
 }
 .sprite-flip_this_but_cole_--23 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -4995px -0px;
 }
 .sprite-flip_this_but_cole_--24 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -5328px -0px;
 }
 .sprite-flip_this_but_cole_--25 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -5661px -0px;
 }
 .sprite-flip_this_but_cole_--26 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -5994px -0px;
 }
 .sprite-flip_this_but_cole_--27 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -6327px -0px;
 }
 .sprite-flip_this_but_cole_--28 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -6660px -0px;
 }
 .sprite-flip_this_but_cole_--29 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -6993px -0px;
 }
 .sprite-flip_this_but_cole_--3 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -7326px -0px;
 }
 .sprite-flip_this_but_cole_--30 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -7659px -0px;
 }
 .sprite-flip_this_but_cole_--31 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -7992px -0px;
 }
 .sprite-flip_this_but_cole_--32 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -8325px -0px;
 }
 .sprite-flip_this_but_cole_--33 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -8658px -0px;
 }
 .sprite-flip_this_but_cole_--34 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -8991px -0px;
 }
 .sprite-flip_this_but_cole_--35 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -9324px -0px;
 }
 .sprite-flip_this_but_cole_--36 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -9657px -0px;
 }
 .sprite-flip_this_but_cole_--37 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -9990px -0px;
 }
 .sprite-flip_this_but_cole_--38 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -10323px -0px;
 }
 .sprite-flip_this_but_cole_--39 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -10656px -0px;
 }
 .sprite-flip_this_but_cole_--4 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -10989px -0px;
 }
 .sprite-flip_this_but_cole_--40 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -11322px -0px;
 }
 .sprite-flip_this_but_cole_--41 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -11655px -0px;
 }
 .sprite-flip_this_but_cole_--42 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -11988px -0px;
 }
 .sprite-flip_this_but_cole_--43 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -12321px -0px;
 }
 .sprite-flip_this_but_cole_--44 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -12654px -0px;
 }
 .sprite-flip_this_but_cole_--45 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -12987px -0px;
 }
 .sprite-flip_this_but_cole_--46 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -13320px -0px;
 }
 .sprite-flip_this_but_cole_--47 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -13653px -0px;
 }
 .sprite-flip_this_but_cole_--48 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -13986px -0px;
 }
 .sprite-flip_this_but_cole_--49 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -14319px -0px;
 }
 .sprite-flip_this_but_cole_--5 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -14652px -0px;
 }
 .sprite-flip_this_but_cole_--50 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -14985px -0px;
 }
 .sprite-flip_this_but_cole_--51 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -15318px -0px;
 }
 .sprite-flip_this_but_cole_--52 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -15651px -0px;
 }
 .sprite-flip_this_but_cole_--53 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -15984px -0px;
 }
 .sprite-flip_this_but_cole_--54 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -16317px -0px;
 }
 .sprite-flip_this_but_cole_--55 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -16650px -0px;
 }
 .sprite-flip_this_but_cole_--56 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -16983px -0px;
 }
 .sprite-flip_this_but_cole_--57 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -17316px -0px;
 }
 .sprite-flip_this_but_cole_--58 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -17649px -0px;
 }
 .sprite-flip_this_but_cole_--59 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -17982px -0px;
 }
 .sprite-flip_this_but_cole_--6 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -18315px -0px;
 }
 .sprite-flip_this_but_cole_--60 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -18648px -0px;
 }
 .sprite-flip_this_but_cole_--61 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -18981px -0px;
 }
 .sprite-flip_this_but_cole_--62 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -19314px -0px;
 }
 .sprite-flip_this_but_cole_--63 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -19647px -0px;
 }
 .sprite-flip_this_but_cole_--64 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -19980px -0px;
 }
 .sprite-flip_this_but_cole_--65 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -20313px -0px;
 }
 .sprite-flip_this_but_cole_--66 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -20646px -0px;
 }
 .sprite-flip_this_but_cole_--67 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -20979px -0px;
 }
 .sprite-flip_this_but_cole_--68 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -21312px -0px;
 }
 .sprite-flip_this_but_cole_--69 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -21645px -0px;
 }
 .sprite-flip_this_but_cole_--7 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -21978px -0px;
 }
 .sprite-flip_this_but_cole_--70 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -22311px -0px;
 }
 .sprite-flip_this_but_cole_--71 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -22644px -0px;
 }
 .sprite-flip_this_but_cole_--72 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -22977px -0px;
 }
 .sprite-flip_this_but_cole_--73 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -23310px -0px;
 }
 .sprite-flip_this_but_cole_--74 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -23643px -0px;
 }
 .sprite-flip_this_but_cole_--75 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -23976px -0px;
 }
 .sprite-flip_this_but_cole_--76 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -24309px -0px;
 }
 .sprite-flip_this_but_cole_--77 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -24642px -0px;
 }
 .sprite-flip_this_but_cole_--8 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -24975px -0px;
 }
 .sprite-flip_this_but_cole_--9 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 329px;
     width: 333px;
     background-position: -25308px -0px;
 }
 